.panther{
  background-color: teal;
  padding: 65px
}
.ras{
  background-color: red;
  padding:65
}
.je{
  background-color: teal;
  padding: 100;

}
.tal{
  background-color: violet;
  padding: 80px;
}
